{
    "moduleFetchUrl": "http://amodvis-api.local.com/api/module_api/index/get_modules_data/",
    "publicIceDistUrl": "http://amodvis-react.local.com/",
    "app_name_by_domain": "test3",
    "vendor_id_by_domain": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhbW9kdmlzIiwiaWF0IjoxNTY2NTI5NzE1LCJjbGllbnRfaWQiOiI5ZWUxNzNiNC05NjJjLTRiMmEtYjBhNy04ZmU4OWFjYjRjNDciLCJkYXRhIjp7InZlbmRvcl9pZCI6IjEiLCJhcHBfbmFtZSI6InRlc3QzIn0sInNjb3BlcyI6InJvbGVfYWNjZXNzIiwiZXhwIjoxNTk4MDY1NzE1fQ.fAAcZXpppxJKWbCvI-kmNEbSg7VhwODLwK8ivZaCwUU",
    "user_auth_token": "",
    "app_key": "sadJeAnX6As7dyyQ3YY7Jdjfa42NSsau",
    "userSSOUrl":"http://amodvis-api.local.com/api/user/login/sso?user_auth_token=",
    "is_not_auth_login":false
}
