.content {
  margin: 0 auto;
  border: 1px solid #d6d6d6;
  background: #ffffff;
}
.left_part {
  float: left;
  width: 190px;
}

.create_room {
  margin-top: 20px;
  line-height: 30px;
  margin: 20px 20px 0 20px;
  background: #3080fe;
  color: #fff;
  text-align: center;
}
.room_list {
  height: 540px;
  overflow-y: auto;
  margin: 20px 20px 0 20px;
}
.room_item {
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  border-bottom: #e4e4e4 1px solid;
}
.room_item:hover {
  background: #f0f0f0f0;
  border-right: 4px solid #3080fe;
}
.checked_room_item {
  background: #f0f0f0f0;
}
.right_part {
  float: left;
  width: 600px;
  margin-right: 20px;
  margin-top: 20px;
}

.chat_list {
  overflow-y: auto;
  height: 400px;
}
.chat_list_item {
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
}
.item_detail {
  padding: 10px;
}
.item_user {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.item_user_user {
  float: left;
}
.item_user_time {
  float: left;
  margin-left: 5px;
}
.chat_content {
  height: 460px;
}
.chat_main {
  height: 380px;
  position: relative;
}
.chat_btn {
  overflow: hidden;
}
.submit_msg {
  cursor: pointer;
  margin-top: 20px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #3080fe;
  color: #fff;
  float: right;
}
.textarea_content {
  width: 600px;
  height: 320px;
  border: 1px solid #d6d6d6;
  color: #999;
  margin-top: 60px;
  resize: none;
  padding: 10px;
}
.create_room_form {
  position: relative;
}
.md_addnavbox {
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 100;
  display: block;
  width: 150px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e0e1e1;
  box-shadow: 0px 0px 10px rgba(74, 80, 82, 0.3);
}

.arrow_box {
  width: 20px;
  height: 20px;
  top: -20px;
  left: 30px;
  position: absolute;
}

.md_tit {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.md_ipt {
  margin-bottom: 20px;
}

.md_subbtn {
  text-align: center;
}

.md_ipt_input {
  display: block;
  border: 1px solid #cdcdcd;
  padding: 5px;
  width: 115px;
  line-height: 20px;
  font-size: 12px;
}
.layui-md-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 18px;
  background-color: #2b7af6;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: #ffffff;
}
.top_arrow1,
.top_arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  border-top: 10px transparent dashed;
  border-left: 10px transparent dashed;
  border-right: 10px transparent dashed;
  border-bottom: 10px white solid;
  overflow: hidden;
}
.layui_btn_normal {
  background-color: #f1f1f1;
  color: #666666;
  border: 1px solid #f1f1f1;
  line-height: 20px;
  padding: 0 6px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  text-align: center;
  margin-left: 15px;
  font-size: 12px;
}
.layui_md_btn {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  background-color: #2b7af6;
  text-align: center;
  border: 1px solid #2b7af6;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
}
.pickerClose {
  height: 50px;
  overflow: hidden;
}
.picker_proxy {
  width: 600px;
  height: 47px;
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 999;
  display: block;
}
.picker_proxy_item {
  width: 66px;
  height: 47px;
  float: left;
}
.basic_user_left {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.basic_user_left_i {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.left_img {
  border: 0 none;
  vertical-align: middle;
  max-height: 40px;
  max-width: 40px;
}
.basic_user_right {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 5px;
}
.close_pop_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 999;
  text-align: center;
  line-height: 20px;
  left: 290px;
  top: 60px;
  background: #ae65c5;
  border: 1px solid #724082;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  line-height: 20px;
  font-family: 黑体;
  cursor: pointer;
  display: none;
}
