.container {
  padding: 20px 0;
}
.mobile_container {
  padding: 20px 0;
  display: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
}
.mobile_content {
  width: 100%;
  margin: 0 auto;
}

.title {
  margin: 0 0 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
}
